body {
	margin: 0;

	font-family: var(--font-roboto);
	color: var(--color-font-primary);

	background-color: var(--color-bg-primary);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
